#background {
    background-color: #00A5A5;
    position: absolute;
    z-index: -100;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'HS Grotesk';
    src: url('../fonts/HS Grotesk.otf');
    src: url('../fonts/HS Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Menoe Grotesque';
    src: url('../fonts/Menoe-Grotesque-Std-Regular.otf');
    src: url('../fonts/Menoe-Grotesque-Std-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 110%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    font-family: 'Menoe Grotesque';
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@-ms-viewport {
    width: device-width
}

a {
    -moz-transition: color .2s ease, border-bottom-color .2s ease;
    -webkit-transition: color .2s ease, border-bottom-color .2s ease;
    -ms-transition: color .2s ease, border-bottom-color .2s ease;
    transition: color .2s ease, border-bottom-color .2s ease;
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none
}

a:hover {
    border-bottom-color: transparent
}

strong, b {
    color: #fff;
    font-weight: 600
}

em, i {
    font-style: italic
}

p {
    margin: 0 0 2em 0
}

p > img {
    height: 100%;
    width: auto
}

h2 {
    font-family: 'HS Grotesk';
    font-size: 1.4em;
    line-height: 1.75em
}

p {
    font-family: 'Menoe Grotesque';
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}

@media screen and (max-width: 736px) {
    h2 {
        font-size: 1.1em;
        line-height: 1em
    }
}

#banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center
}

#banner #logo {
    margin-bottom: 40px
}

#banner h2 {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: inline-block;
    font-size: 1.75em;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
    text-transform: none;
    color: #FFF4E1;
}

#banner h2:before {
    top: 0;
    left: 0
}

#banner h2:after {
    bottom: 0;
    right: 0
}

#banner p {
    width: 50%;
    margin: 0 auto;
    color: #FFF4E1;
}

#banner p:last-child {
    font-size: 2rem;
}

footer p a {
    color: #FFF4E1;
}

#banner:after {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    content: '';
    background: #2e3842;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0
}

#banner img {
    width: 40%;
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 7em 2em 5em 2em;
        min-height: 0
    }

    #banner h2 {
        font-size: 1.25em
    }

    #banner br {
        display: none
    }

    #banner .more {
        display: none
    }

    #banner p,
    #banner img {
        width: 100%;
    }
    #banner p:last-child {
        margin-top: 2rem;
    }
}

footer {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    overflow: hidden;
    position: relative;
    height: 21vh;
    background-color: #FD4000;
    text-align: center;
    color: #231f20;
}

footer p:first-child {
    margin-bottom: 1rem;
}